@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;700&display=swap');

:root {
    --color-cyan: hsl(179, 62%, 43%);
    --color-light-cyan: hsla(179, 62%, 43%, 80%);
    --color-yellow: hsl(71, 73%, 54%);
    --color-neutral-gray: hsl(204, 43%, 93%);
    --color-neutral-blue: hsl(218, 22%, 67%);
    --color-white-50: hsla(0, 0%, 100%, 50%);
    --color-white-75: hsla(0, 0%, 100%, 75%);
    --color-white-100: hsla(0, 0%, 100%, 100%);
}

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--color-neutral-gray);
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-neutral-blue);
}

h1 {
    color: var(--color-cyan);
    font-size: calc(20px + 4 * (100vw - 375px) / 1065);
    margin-bottom: 1em;
}

h2 {
    color: var(--color-yellow);
    font-size: calc(15px + 3 * (100vw - 375px) / 1065);
    margin-bottom: 0.6875rem;
}

h3 {
    color: var(--color-white-100);
    font-size: 1.125rem;
    margin-bottom: 1em;
}

h1, h2, h3 {
    font-weight: 700;
}

h2 + p {
    line-height: 1.625rem;
}

.grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
        'cta'
        'subscription'
        'why-choose-us';
    background-color: var(--color-white-100);
    width: min(100vw - 4rem, 40rem);
    margin-block: 4.5rem 3.875rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
}

.grid-item {
    padding: 1.5rem;
}

.cta {
    grid-area: cta;
}

.why-choose-us {
    background-color: var(--color-light-cyan);
    grid-area: why-choose-us;
}

.subscription {
    background-color: var(--color-cyan);
    color: var(--color-white-100);
    grid-area: subscription;
    display: flex;
    flex-direction: column;
}

.subscription h3+p {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}

.subscription span:first-child {
    font-weight: 700;
    font-size: 2rem;
    display: inline-block;
    margin-right: 0.6875rem;
}

.subscription span:nth-of-type(2) {
    color: var(--color-white-50);
}

button {
    cursor: pointer;
    border: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-yellow);
    border-radius: 0.3125rem;
    color: var(--color-white-100);
    font-weight: 700;
    font-size: 1rem;
    margin-top: 1.62rem;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
}

button:hover, 
button:focus {
    outline: none;
    transform: scale(1.1);
    transition: transform 500ms ease;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 0.875rem;
    color: var(--color-white-75);
    line-height: 1.25rem;

}

@media screen and (min-width: 600px) {
    .grid {
        grid-template-areas: 
            'cta cta'
            'subscription why-choose-us';
        margin-block: 0;
    }

    .grid-item {
        padding: 2.5rem;
    }

    button {
        margin-top: auto;
    }

}